<footer class="footer footer--v1 footer-custom1">

    <div class="footer__container container">
        <div class="footer__sosmed">
            <h3 class="footer__sosmed__title">BlueHeight</h3>
            <p class="footer__sosmed__detail text-m-regular">
                Integrate existing API data planes regardless of API pattern.
                Connect multiple vendor gateways such as AWS,
                Azure, Apigee, and MuleSoft. Deploy on-premises or any private or public cloud.
            </p>
            <div class="footer__sosmed__flex">
                <button class="btn btn-box">
                    <img
                            src="media/images/icons/globe.svg"
                            alt="Logo"
                            class="btn-box__box-icon"
                    />
                </button>
                <button class="btn btn-box">
                    <img
                            src="media/images/icons/facebook.svg"
                            alt="Logo"
                            class="btn-box__box-icon"
                    />
                </button>
                <button class="btn btn-box">
                    <img
                            src="media/images/icons/twitter.svg"
                            alt="Logo"
                            class="btn-box__box-icon"
                    />
                </button>
                <button class="btn btn-box">
                    <img
                            src="media/images/icons/google.svg"
                            alt="Logo"
                            class="btn-box__box-icon"
                    />
                </button>
                <button class="btn btn-box">
                    <img
                            src="media/images/icons/linkedin.svg"
                            alt="Logo"
                            class="btn-box__box-icon"
                    />
                </button>
            </div>
        </div>
        <div class="footer__links">
            <div class="footer__links__container">
                <div class="footer__links__pages">
                    <span class="footer__links__pages__title text-m-bold">pages</span>
                    <div class="footer__links__pages__links">

                        <a class="footer__links__pages__links__a" href="/about-v2"
                        >About Us</a
                        >
                        <a class="footer__links__pages__links__a" href="/blog-v2"
                        >API</a
                        >
                        <a class="footer__links__pages__links__a" href="/blog-details"
                        >
                            MarketPlace
                        </a
                        >

                        <a class="footer__links__pages__links__a" href="/pricing-v2"
                        >Pricing</a
                        >
                    </div>
                </div>
                <div class="footer__links__pages">
                    <span class="footer__links__pages__title text-m-bold"></span>
                    <div class="footer__links__pages__links">
                        <a class="footer__links__pages__links__a" href="/faq">FAQ</a>
                        <a class="footer__links__pages__links__a" href="/faq-details"
                        >FAQ Detail</a
                        >
                        <a class="footer__links__pages__links__a" href="/contact"
                        >Contact</a
                        >
                        <a class="footer__links__pages__links__a" href="/checkout"
                        >Checkout</a
                        >
                    </div>
                </div>
            </div>
            <div class="footer__links__pages">
            <span class="footer__links__pages__title text-m-bold"
            >utility pages</span
            >
                <div class="footer__links__pages__links">
                    <a class="footer__links__pages__links__a" href="/sign-in"
                    >API Guide</a
                    >
                    <a href="./sign-up" class="footer__links__pages__links__a"
                    >Privacy Policy</a
                    >
                    <a class="footer__links__pages__links__a" href="/forgot-password"
                    >Terms and Conditions</a
                    >
                </div>
            </div>
        </div>
    </div>
</footer>
