<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>Blue Height | E-commerce Java Website</title>
    <meta name="description" content="Learning Java Sprint Boot" />
    <link th:href="@{/media/images/public/favicon-growtech.svg}" rel="shortcut icon" type="image/x-icon" />
    <link th:href="@{/css/styles.bundle.css}" rel="stylesheet" />
    <link th:href="@{/css/pages/home-v1.css}" rel="stylesheet" />
</head>
