
<header class="navbar js-navbar">
    <div class="container">
        <div class="navbar__title">
            <a href="#"><h3>BlueHeight</h3></a>
        </div>
        <div class="navbar__links">
            <a class="navbar__links__link active" href="/home-v1">home</a>
            <a class="navbar__links__link" href="/about-v1">about</a>
            <a class="navbar__links__link" href="/pricing-v1">pricing</a>
            <a class="navbar__links__link" href="/blog-v1">blog</a>
            <a class="navbar__links__link" href="/jobs-v1">How it works</a>
        </div>
        <div class="navbar__sign">
            <a class="btn btn--small btn--transparent-white" href="/sign-in"
            >Sign In</a
            >
            <a class="btn btn--small btn--secondary-white" href="/sign-up"
            >Sign Up</a
            >
        </div>
        <div class="navbar__menu js-navbar__menu"></div>
        <div class="navbar__close js-navbar__close"></div>
    </div>
</header>